# Configuration files
app/config/parameters.yml

#composer
composer.lock
app/bootstrap.php.cache

# Eclipse project
.buildpath
.project
.settings

# Netbeans project files
nbproject

# PhpStorm project files
.idea
atlassian-ide-plugin.xml