{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block main %}

    <div id="box-artist">
        <img src="{{ asset('images/'~entity.image) }}">

        <h1>{{ entity.name }}</h1>

        <br><br><br>

        <p class="bio">
            {{ entity.bio }}
        </p>
    </div>

{% endblock %}