{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span12">
        <h1>About MusicStation</h1>

        <br><br>

        <p>
            MusicStation is a demo application built with Symfony2 v2.2.1.
            <br><br>
            It was used during the workshop <a href="http://traintosymfony.com">Train to Symfony</a> held on 13, 14 april 2013 in Verona
            as practical project to build from scratch.
            <br><br><br>
            More info at <a href="http://traintosymfony.com">http://traintosymfony.com</a>
        </p>
    </div>
    
{% endblock %}