{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span12 box-error">

        <br><br>

        <h1>Error!</h1>

        <br><br><br>

        <p>
            The resource you are looking for was not found :(
        </p>
    </div>

{% endblock %}