{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block main %}

    <h1>Feedback</h1>

    <br>

    <p>
        Thank you for your feedback, you will get an answer soon!
    </p>

{% endblock %}