{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span6 offset3">

        <h1>Registration complete!</h1>

        <br><br>

        <p>
            Thanks, you can now fully enjoy MusicStation

            <br><br><br><br>

            <a href="{{ path('homepage') }}"><i class="icon-home"></i> go to homepage</a>
        </p>

    </div>

{% endblock %}