{% extends 'MusicStationSiteBundle::layout.html.twig' %}

{% block container %}

    <div class="span6 offset3">
        <h1>Register to MusicStation</h1>

        <br><br>

        <form id="register-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register security-form" novalidate>
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>

{% endblock %}